* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  font-family: 'Jersey 10', sans-serif;
  width: 100%;
}
/* Guess number section */
header {
  border-bottom: 7px solid white;
  height: 300px;
  position: relative;
  margin-bottom: 100px;
  @media (max-width: 425px) {
    height: 350px;
  }
}
.btn {
  width: 100px;
  height: 50px;
  background-color: white;
  font-family: 'Jersey 10', sans-serif;
  font-size: 20px;
  border: none;
  margin: 30px;
}
.btn:hover {
  background-color: rgb(216, 215, 215);
}
.title {
  font-size: 60px;
  text-align: center;
}
.description {
  text-align: center;
}

.number {
  position: absolute;
  background-color: white;
  color: black;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 96px;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
}

/* Check Number Section */
main {
  display: flex;
  justify-content: center;
  gap: 200px;
  @media (max-width: 425px) {
    flex-direction: column;
    gap: 0px;
  }
}
.check-number {
  @media (max-width: 425px) {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}
.check-number .btn {
  margin: 30px 50px;
  @media (max-width: 425px) {
    margin: 0;
  }
}
.your-number {
  width: 200px;
  height: 100px;
  background-color: inherit;
  color: white;
  text-align: center;
  border: 4px solid white;
  font-family: 'Jersey 10', sans-serif;
  font-size: 50px;
  padding: 2px;
  @media (max-width: 425px) {
    width: 100px;
    height: 50px;
    font-size: 40px;
  }
}
.your-number:focus {
  outline: none;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}
/* Stats section */
.check-number,
.stats {
  flex: 0 0 200px;
  @media (max-width: 425px) {
    flex: 0;
  }
}
.stats {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (max-width: 425px) {
    margin-top: 20px;
    align-items: center;
  }
}
.message {
  font-size: 32px;
  overflow-wrap: break-word;
}

.label-score,
.label-highscore {
  font-size: 24px;
}
